<h1>Welome to the Womble World</h1>

<form method="POST" action="/form">
Womble name: 
<input type = "text" name="womblename">
<br>Characteristic: 
<input type = "text" name="characteristic">
<br>
<input type = "submit" value="Submit">
</form>

