<h1>add a new Womble</h1>

<form action="/add" method="POST">
  name:
<input type="text" name="wombleName" value="">
characteristic:
<input type="text" name="characteristic" value="" >
rubbishDuty
<input type="text" name="rubbishDuty" value="">

<input type="submit">

</form>