<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wombles View</title>
</head>
<body>
  
  <h1>The Wombles!</h1>
  <h2>Names and Characteristics</h2>

  <ul>
    {{#each results}}
    <li>{{name}}: {{description}}</li>
      {{/each}}
  </ul>

</body>
</html>